@keyframes skill_1 
{
  from 
  {
    width:0%;
  }
  to 
  {
    width:80%;
  }
}
@keyframes skill_2 
{
  from 
  {
    width:0%;
  }
  to 
  {
    width:90%;
  }
}
@keyframes skill_3 
{
  from 
  {
    width:0%;
  }
  to 
  {
    width:50%;
  }
}
@keyframes skill_4 
{
  from 
  {
    width:0%;
  }
  to 
  {
    width:60%;
  }
}
@keyframes skill_5 
{
  from 
  {
    width:0%;
  }
  to 
  {
    width:70%;
  }
}  
@keyframes skill_6 
{
  from 
  {
    width:0%;
  }
  to 
  {
    width:70%;
  }
}
@keyframes skill_7 
{
  from 
  {
    width:0%;
  }
  to 
  {
    width:70%;
  }
}